<!DOCTYPE html>
<html>
<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>.field{width:180px;}</style>
</head>
<body>
    <div class="container d-flex justify-content-center">
        <form action="/edit" method="POST" class="col-5 shadow p-4 mt-4">
            <h1>Редактирование записи</h1>
            <input type="hidden" name="id" value="{{user.id}}" class="form-label" />
            <div class="mb-3">
                <label for="date" class="form-label">Дата</label>
                <input name="date" class="form-control" value="{{user.Дата}}"/>
            </div>
            <div class="mb-3">
                <label>Услуга</label>
                <input name="service" type="number" class="form-control" value="{{user.id_услуга}}"/>
            </div>
            <div class="mb-3">
                <label>Сотрудник</label>
                <input name="employer" class="form-control" type="number" value="{{user.id_сотрудник}}"/>
            </div>
            <div class="mb-3">
                <label>Клиент</label>
                <input name="customer" class="form-control" type="number" value="{{user.id_клиент}}"/>
            </div>
            <div class="mb-3">
                <label>Филиал</label>
                <input name="branch" class="form-control" type="number" value="{{user.id_филиал}}"/>
            </div>
            <input type="submit" value="Отправить" class="btn btn-primary mb-3" />
            <div>
                <a href="/">К списку пользователей</a>
            </div>
            
        </form>
</body>